bind_addr = "{{ ansible_default_ipv4.address }}"
data_dir = "/opt/nomad/data"

server {
  enabled = true
  bootstrap_expect = 3
  retry_join = [
    {% for ip in nomad_master_server_ips %}
    "{{ ip }}"{% if not loop.last %},{% end if %}
    {% endfor %}
  ]
}

atlas {
  infrastructure = "bkendall/nomad"
  token = "{{ vault_atlas_token }}"
  join = true
}
