bind_addr = "{{ ansible_default_ipv4.address }}"
data_dir = "/opt/nomad/data"

server {
  enabled = true
  bootstrap_expect = 3
  {% if nomad_master_bootstrap_server_ip is defined %}
  retry_join = [
    "{{ nomad_master_bootstrap_server_ip }}"
  ]
  {% endif %}
}

atlas {
  infrastructure = "bkendall/nomad"
  token = "{{ vault_atlas_token }}"
  join = true
}
