{
  "data_dir": "/opt/consul/data",
  "bootstrap_expect": 3,
  "server": true,
  "bind_addr": "{{ ansible_default_ipv4.address }}",
  {% if nomad_master_bootstrap_server_ip is defined %}
  "retry_join": [
    "{{ nomad_master_bootstrap_server_ip }}"
  ],
  {% endif %}
  "recursors": [
    "8.8.8.8",
    "8.8.4.4"
  ],
  "dns_config": {
    "enable_truncate": true
  },
  "atlas_infrastructure": "bkendall/nomad",
  "atlas_join": true,
  "atlas_token": "{{ vault_atlas_token }}"
}
