{
  "data_dir": "/opt/consul/data",
  "bind_addr": "{{ ansible_default_ipv4.address }}",
  "retry_join": [
    {% for ip in nomad_master_server_ips %}
    "{{ ip }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "recursors": [
    "8.8.8.8",
    "8.8.4.4"
  ],
  "dns_config": {
    "enable_truncate": true
  },
  "atlas_infrastructure": "bkendall/nomad",
  "atlas_join": true,
  "atlas_token": "{{ vault_atlas_token }}"
}
