bind_addr = "{{ ansible_default_ipv4.address }}"
data_dir = "/opt/nomad/data"

client {
  enabled = true
  servers = [
    {% for ip in nomad_master_server_ips_list %}
    "{{ ip }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}

atlas {
  infrastructure = "bkendall/nomad"
  token = "{{ vault_atlas_token }}"
  join = true
}
